# Haskell
.conf
*.o
*.hi
*.chi
*.chs.h
*.imports
cabal.sandbox.config

# Dirs
tmp
log
dist
.cabal-sandbox

# CTAGS
TAGS
tags

# Emacs/Vim
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
*.org

# OSX
.DS_Store

# Templates
*.tmpl
